@charset "UTF-8";

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #fafafa;
}

/* p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
} */

.content-menu {
	padding: 15px 10px 10px 10px;
	background: #fff;
	border: none;
	border-radius: 1;
	margin-bottom: 40px;
	box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.box-dash {
	text-align: center;
	padding: 15px 10px 10px 10px;
	background: #fff;
	border: none;
	border-radius: 1;
	margin: 40px 0px 40px 0px;
	box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.sidemenu {
	color: white;
	text-decoration: none;
}

a {
	text-decoration: none;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

i,
span {
	display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #7386d5;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	min-width: 100px;
	max-width: 100px;
	text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
	display: none;
}

#sidebar.active .sidebar-header strong {
	display: block;
}

#sidebar ul li a {
	text-align: left;
}

#sidebar.active ul li a {
	padding: 20px 10px;
	text-align: center;
	font-size: 0.85em;
}

#sidebar.active ul li a i {
	margin-right: 0;
	display: block;
	font-size: 1.8em;
	margin-bottom: 5px;
}

#sidebar.active ul ul a {
	padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before,
#sidebar.active a[aria-expanded="true"]::before {
	top: auto;
	bottom: 5px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

#sidebar .sidebar-header {
	padding: 20px;
	/*background: #6d7fcc;*/
}

#sidebar .sidebar-header strong {
	display: none;
	font-size: 1.8em;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #7386d5;
	background: #e0e0e0;
}
#sidebar ul li a i {
	margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"] {
	position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
	/*content: '﹀';*/
	font-family: "fontawesome";
	content: "\f078";
	display: block;
	position: absolute;
	right: 20px;
	font-size: 0.6em;
}
a[aria-expanded="true"]::before {
	/*content: '︿';*/
	content: "\f077";
}

ul ul a .sidebar-menu {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386d5;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
	width: 100%;
}
/* .navbar .navbar-nav .dropdown-menu {
	position: absolute;
	left: -60px;
} */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1023px) {
	#sidebar {
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		margin-left: -80px !important ;
	}
	a[aria-expanded="false"]::before,
	a[aria-expanded="true"]::before {
		top: auto;
		bottom: 5px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
	#sidebar.active {
		margin-left: 0 !important;
	}

	#sidebar .sidebar-header h3,
	#sidebar .CTAs {
		display: none;
	}

	#sidebar .sidebar-header strong {
		display: block;
	}

	#sidebar ul li a {
		padding: 20px 10px;
	}

	#sidebar ul li a span {
		font-size: 0.85em;
	}
	#sidebar ul li a i {
		margin-right: 0;
		display: block;
	}

	#sidebar ul ul a {
		padding: 10px !important;
	}

	#sidebar ul li a i {
		font-size: 1.3em;
	}
	#sidebar {
		margin-left: 0;
	}
	#sidebarCollapse span {
		display: none;
	}
}
